<%= form_with model:@blog_post do |form| %> 
<% if form.object.errors.any? %>
  <div>
    <% form.object.errors.full_messages.each do |message| %>
    <div><%= message %></div>
    <% end %>
  </div>
  <% end %>

  <div>
    <%= form.label :title%>
    <%= form.text_field :title, class: "block p-2.5 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300"%>
  </div>

  <div>
    <%= form.label :content%>
    <%= form.rich_text_area :content,class:"h-96 block p-2.5 w-full text-gray-900 bg-gray-50 overflow-y-scroll border border-gray-300 rounded-lg" %>
  </div>
  <%= form.button "Save Post", class: "inline-flex items-center my-4 px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-700"%>
<% end %>